Importing libraries

In [72]:
import pandas as pd
from faker import Faker
import folium
from collections import Counter

# Initialize Faker

In [73]:
fake = Faker()

# Generate the first DataFrame

In [74]:
data1 = {
    'name': [fake.name() for _ in range(100)],
    'address': [fake.address() for _ in range(100)],
    'latitude': [fake.latitude() for _ in range(100)],
    'longitude': [fake.longitude() for _ in range(100)],
    'age': [fake.random_int(min=18, max=80) for _ in range(100)]
}

In [75]:
df1 = pd.DataFrame(data1)
df1.to_json('data1.json')

# Generate the second DataFrame

In [76]:
data2 = {
    'name': [fake.name() for _ in range(100)],
    'visit_date': [fake.date_this_year() for _ in range(100)],
    'latitude': [fake.latitude() for _ in range(100)],
    'longitude': [fake.longitude() for _ in range(100)]
}

In [77]:
df2 = pd.DataFrame(data2)
df2.to_json('data2.json')

# Merge DataFrames on 'name'

In [78]:
merged_df = pd.merge(df1, df2, on='name')
merged_df.to_json('data_merged.json')

# Calculate the average age of the tourists

In [79]:
average_age = merged_df['age'].mean()
average_age

23.0

# Determine the most common locations visited by the tourists

In [80]:
# locations = list(zip(merged_df['latitude_y'], merged_df['longitude_y']))
# common_locations = Counter(locations).most_common(5)

location_counts = merged_df.groupby(['latitude_y', 'longitude_y']).size().reset_index(name='count')
common_locations = location_counts.nlargest(5, 'count')

common_locations

   latitude_y longitude_y  count
0  62.1210795  -87.534853      1

# Plotting the map using Folium

In [81]:
map_tourists = folium.Map(location=[0, 0], zoom_start=2)

# Highlight the top 5 most visited locations with markers

In [82]:
# for location, count in common_locations:
#     folium.Marker(
#         location=location,
#         popup=f"Visits: {count}",
#         icon=folium.Icon(color='red')
#     ).add_to(map_tourists)
    
for _, row in common_locations.iterrows():
    location = (row['latitude_y'], row['longitude_y'])
    count = row['count']
    folium.Marker(
        location=location,
        popup=f"Visits: {count}",
        icon=folium.Icon(color='red')
    ).add_to(map_tourists)

# Save map to an HTML file

In [83]:
map_tourists.save("tourist_map.html")

average_age, common_locations, "tourist_map.html"

(23.0,
    latitude_y longitude_y  count
 0  62.1210795  -87.534853      1,
 'tourist_map.html')